.btn-entrar {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}

.btn-entrar:hover {
    -fx-background-color: #0e4b88;
    -fx-text-fill: white;
}

.btn-cadastro {
    -fx-background-color: #4fd906;
    -fx-text-fill: white;
}

.btn-cadastro:hover {
    -fx-background-color: #2f8804;
    -fx-text-fill: white;
}

.btn-voltar {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}

.btn-voltar:hover {
    -fx-background-color: #0e4b88;
    -fx-text-fill: white;
}

.btn-retangle{
    -fx-fill: rgba(0, 0, 0, 0); /* Transparente */
    -fx-transition: fill 0.3s ease;
}

.btn-retangle:hover{
    -fx-fill: rgba(51, 192, 246, 0.4);
}

.btn-finalizar-cadastro {
    -fx-background-color: #4fd906;
    -fx-text-fill: white;
}

.btn-finalizar-cadastro:hover {
    -fx-background-color: #2f8804;
    -fx-text-fill: white;
}

.btn-voltar-paciente{
    -fx-background-color: #125da4;
    -fx-text-fill: white;
}

.btn-voltar-paciente:hover{
    -fx-background-color: #073059;
    -fx-text-fill: white;
}

.btn-agendar {
    -fx-background-color: #4fd906;
    -fx-text-fill: white;
}

.btn-agendar:hover {
    -fx-background-color: #2f8804;
    -fx-text-fill: white;
}

.btn-cancelar-consulta {
    -fx-background-color: #ee041c;
    -fx-text-fill: white;
}

.btn-cancelar-consulta:hover {
    -fx-background-color: #880404;
    -fx-text-fill: white;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.icon-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.13);
    -fx-border-color: rgba(0, 0, 0, 0.15);
}
.stack-bg{
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}
.anchor-pane{
    -fx-background-color: rgba(243, 243, 243, 0.99);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 5, 5);
}

.btn-edit{
    -fx-background-color: #125da4;
    -fx-text-fill: white;
}

.btn-edit:hover{
    -fx-background-color: #073059;
    -fx-text-fill: white;
}
